# EDA


## calculate two metrics: 
- Top 10 Occupations and 
- Top 10 States 

for certified visa applications.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/Users/mattevanoff/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/mattevanoff/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/mattevanoff/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [31]:
import sys
# sys.path.append('../input')

In [2]:
dat = pd.read_csv('../input/H1B_FY_2016.csv', delimiter=';')
dat.head()

/Users/mattevanoff/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,...,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,0,I-200-12240-490687,CERTIFIED-WITHDRAWN,2012-08-27,2015-10-16,H-1B,2013-02-25,2016-02-24,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",...,41000.00,0.0,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109,2012-08-31
1,1,I-200-13053-847481,CERTIFIED-WITHDRAWN,2013-02-25,2016-01-13,H-1B,2013-08-24,2016-08-23,"GOODMAN NETWORKS, INC.","6400 INTERNATIONAL PARKWAY, SUITE 1000",...,400000.00,0.0,Year,N,N,PLANO,COLLIN,TX,75093,2013-03-01
2,2,I-200-13088-054259,CERTIFIED-WITHDRAWN,2013-04-23,2015-12-10,H-1B,2013-04-29,2016-04-28,"PORTS AMERICA GROUP, INC.",525 WASHINGTON BOULEVARD,...,264000.00,451100.0,Year,N,N,JERSEY CITY,HUDSON,NJ,07310,2013-04-29
3,3,I-200-13144-034110,CERTIFIED-WITHDRAWN,2013-05-24,2016-01-19,H-1B,2013-10-01,2016-09-30,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",1551 WEWATTA STREET,...,220314.00,600000.0,Year,N,N,DENVER,DENVER,CO,80202,2013-05-29
4,4,I-200-13172-415116,WITHDRAWN,2013-06-26,2016-05-20,H-1B,2013-10-18,2016-10-17,PEABODY INVESTMENTS CORP.,701 MARKET STREET,...,171.63,0.0,Hour,N,N,ST. LOUIS,ST. LOUIS,MO,63101,NaN

In [130]:
import csv
import sys

header = True
delimiter = ';'
visa_status_col_name = 'CASE_STATUS'
occupation_col_name = 'SOC_NAME'
certified_col_name = 'CERTIFIED'
top_N = 10

occupation_counts = {}
    
with open('../input/H1B_FY_2016.csv') as f:
    # read file 
    lines = csv.reader(f, quotechar='"', delimiter=delimiter,
                     quoting=csv.QUOTE_ALL)
    if header:
        # get column names
        columns = next(lines)
        visa_status_idx = columns.index(visa_status_col_name)
        occupation_col_idx = columns.index(occupation_col_name)
    else:
        visa_status_idx = sys.args()
        occupation_col_idx = sys.args()
    # get total number of certified applications regardless of occupation
    N = 0
    for line in lines:
        if line[visa_status_idx] == certified_col_name:
            occ = line[occupation_col_idx]
            N += 1
            # increment count based on occupation
            if occ not in occupation_counts:
                occupation_counts[occ] = 0
            occupation_counts[occ] += 1
        
# sort 
top_occs = sorted(occupation_counts.items(), key=lambda x: x[1], reverse=True)[:top_N]
# add percentage 
top_occs = [top_occs[i] + (((top_occs[i][1] / N) * 100.0,)) for i in range(len(top_occs))]
top_occs

with open()

[('SOFTWARE DEVELOPERS, APPLICATIONS', 106758, 18.741112901696845),
 ('COMPUTER SYSTEMS ANALYSTS', 88370, 15.513143250369527),
 ('COMPUTER PROGRAMMERS', 72112, 12.659090031352804),
 ('COMPUTER OCCUPATIONS, ALL OTHER', 48598, 8.531263275788824),
 ('SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE', 19337, 3.394564343469453),
 ('COMPUTER SYSTEMS ANALYST', 16694, 2.930591981686872),
 ('MANAGEMENT ANALYSTS', 13859, 2.432914476710097),
 ('ACCOUNTANTS AND AUDITORS', 10187, 1.7883036131211314),
 ('NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS', 9876, 1.733708303051369),
 ('MECHANICAL ENGINEERS', 8315, 1.459678466977737)]

In [45]:
import csv
import sys

class TopCounts(object):
    """
    Computes top counts for a read in CSV file 
    
    Args:
        input_filename (str): CSV filename where the data is located 
        output_filename (str): filename where to save output 
        delimiter (str): CSV delimiter character 
        header (boolean): If the CSV file contains a header
        quotechar (str): Quote character in CSV file 

    Attributes:
        input_filename (str): CSV filename
        output_filename (str): output filename
        delimiter (str): delimiter character for read and write  
        header (boolean): If the CSV file contains a header
        quotechar (str): Quote character
    """
    def __init__(self, input_filename, output_filename, header=True, delimiter=';', quotechar='"'):
        self.input_filename = input_filename
        self.output_filename = output_filename
        self.delimiter = delimiter
        self.header = header
        self.quotechar = quotechar
        
    def compute_counts(self, status_col_name='CASE_STATUS', occupation_col_name='SOC_NAME', 
                       certified_col_name='CERTIFIED'):
        """
        Computes counts for desired column field based on column names 
        Args:
            param1 (int): The first parameter.
            param2 (:obj:`str`, optional): The second parameter. Defaults to None.
                Second line of description should be indented.
            *args: Variable length argument list.
            **kwargs: Arbitrary keyword arguments.

        Returns:
            counts (dict): dictionary of {desired_col : count}
            N (int): total number of certified applications regardless of occupation
        """
        counts = {}
        with open(self.input_filename, 'r') as f:
            # read file 
            lines = csv.reader(f, quotechar=self.quotechar, delimiter=self.delimiter,
                             quoting=csv.QUOTE_ALL)
            if self.header:
                # get column names
                columns = next(lines)
                print(columns)
                status_idx = columns.index(status_col_name)
                print(status_idx)
                occupation_col_idx = columns.index(occupation_col_name)
                print(occupation_col_idx)
            else:
                status_idx = sys.args()
                occupation_col_idx = sys.args()
            # get total number of certified applications regardless of occupation
            N = 0
            for line in lines:
                if line[status_idx] == certified_col_name:
                    desired = line[occupation_col_idx]
                    N += 1
                    # increment count based on occupation
                    if desired not in counts:
                        counts[desired] = 0
                    counts[desired] += 1
        # return count dict and total number of certified applications regardless of occupation
        return counts, N


    def sort_values(self, counts, top_N=10):
        """
        Sorts `counts` to return `top_N` columns and counts 
        Args:
            counts (dict): Count dictionary
            top_N (int): Number of top columns 
        
        Returns:
            top (list): top N list of tuples [(desired_col, counts), ...]
        """
        top = sorted(counts.items(), key=lambda x: x[1], reverse=True)[:top_N]
        return top
    
    def add_percentage(self, top, N):
        """
        Add percentage of applications that have been certified compared 
        to total number of certified applications regardless of state. 
        Args:
            top (list): top N list of tuples [(desired_col, counts), ...]
            N (int): total number of certified applications regardless of occupation
        
        Returns:
            (list): top N list of tuples [(desired_col, counts, percentage), ...]
        """
        print([top[i] + ((((round(top[i][1] / N, 3)) * 100.0),)) for i in range(len(top))])
        return [top[i] + ((((round(top[i][1] / N, 3)) * 100.0),)) for i in range(len(top))]
    
    def write_to_file(self, top):
        """
        Saves output to output_filename
        Args:
            top (list): top N list of tuples [(desired_col, counts), ...]
        """
        with open(self.output_filename, 'w') as f:
            f.write('TOP_OCCUPATIONS' + self.delimiter + 'NUMBER_CERTIFIED_APPLICATIONS'  + self.delimiter + 'PERCENTAGE' + '\n')
            for line in top:
                line = self.delimiter.join(map(str, line))
                f.write(line + '\n')
        

def main():
    occupation_top = TopCounts(input_filename='../input/H1B_FY_2016.csv', 
                               output_filename='../output/top_10_occupations.txt', 
                               header=True, delimiter=';')
    counts, N = occupation_top.compute_counts(status_col_name='CASE_STATUS', occupation_col_name='SOC_NAME', 
                       certified_col_name='CERTIFIED')
#     counts, N = occupation_top.compute_counts(status_col_name='STATUS', occupation_col_name='LCA_CASE_SOC_NAME', 
#                        certified_col_name='CERTIFIED')
    top = occupation_top.sort_values(counts, top_N=10)
    top = occupation_top.add_percentage(top, N)
    occupation_top.write_to_file(top)

if __name__ == '__main__':
    main()

['', 'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE', 'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAIC_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE']
2
22
[('SOFTWARE DEVELOPERS, APPLICATIONS', 106758, 18.7), ('COMPUTER SYSTEMS ANALYSTS', 88370, 15.5), ('COMPUTER PROGRAMMERS', 72112, 12.7), ('COMPUTER OCCUPATIONS, ALL OTHER', 48598, 8.5), ('SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE', 19337, 3.4000000000000004), ('COMPUTER SYSTEMS ANALYST', 16694, 2.9000000000000004), ('MANAGEMENT ANALYSTS', 13859, 2.4), ('ACCOUNTANTS AND AUDITORS', 10187, 1.7999999999999998), ('NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS', 9876, 1.7000000000000002), ('MECHANICAL ENGINEERS', 8315, 1.5)]

In [34]:
Z = ['', 'LCA_CASE_NUMBER', 'STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE', 'VISA_CLASS', 'LCA_CASE_EMPLOYMENT_START_DATE', 'LCA_CASE_EMPLOYMENT_END_DATE', 'LCA_CASE_EMPLOYER_NAME', 'LCA_CASE_EMPLOYER_ADDRESS', 'LCA_CASE_EMPLOYER_CITY', 'LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_EMPLOYER_POSTAL_CODE', 'LCA_CASE_SOC_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE', 'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO', 'LCA_CASE_WAGE_RATE_UNIT', 'FULL_TIME_POS', 'TOTAL_WORKERS', 'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1', 'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1', 'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2', 'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2', 'LCA_CASE_NAICS_CODE']
print(Z)

['', 'LCA_CASE_NUMBER', 'STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE', 'VISA_CLASS', 'LCA_CASE_EMPLOYMENT_START_DATE', 'LCA_CASE_EMPLOYMENT_END_DATE', 'LCA_CASE_EMPLOYER_NAME', 'LCA_CASE_EMPLOYER_ADDRESS', 'LCA_CASE_EMPLOYER_CITY', 'LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_EMPLOYER_POSTAL_CODE', 'LCA_CASE_SOC_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE', 'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO', 'LCA_CASE_WAGE_RATE_UNIT', 'FULL_TIME_POS', 'TOTAL_WORKERS', 'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1', 'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1', 'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2', 'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2', 'LCA_CASE_NAICS_CODE']

In [46]:
for i, split_col in enumerate([z.split('_') for z in Z]):
    for split in split_col:
        if 'STATUS' in split:
            status_idx = i
        if 'SOC' and 'NAME' in split:
            occ_index = i
        if 'EMPLOYER' and 'STATE' in split:
            state_index = i
            
status_idx, occ_index, state_index

(2, 14, 29)

In [17]:
dat = pd.read_csv('../input/H1B_FY_2014.csv', delimiter=';')
# certified_dat = dat[dat['CASE_STATUS'] == 'CERTIFIED']
certified_dat = dat[dat['STATUS'] == 'CERTIFIED']
N = len(certified_dat)
# top_occupations = pd.DataFrame(certified_dat['SOC_NAME'].value_counts()[:10]).reset_index()
top_occupations = pd.DataFrame(certified_dat['LCA_CASE_SOC_NAME'].value_counts()[:10]).reset_index()
top_occupations.columns = ['TOP_OCCUPATIONS', 'NUMBER_CERTIFIED_APPLICATIONS']
top_occupations['PERCENTAGE'] = (top_occupations['NUMBER_CERTIFIED_APPLICATIONS'] / N) * 100.0
top_occupations

,TOP_OCCUPATIONS,NUMBER_CERTIFIED_APPLICATIONS,PERCENTAGE
0,Computer Systems Analysts,85334,18.748792
1,"Software Developers, Applications",68258,14.997012
2,Computer Programmers,64942,14.268451
3,"Computer Occupations, All Other",36441,8.006477
4,"Software Developers, Systems Software",13808,3.033765
5,Management Analysts,10547,2.317289
6,Accountants and Auditors,8512,1.870177
7,Financial Analysts,7784,1.710228
8,Network and Computer Systems Administrators,7300,1.603888
9,Mechanical Engineers,6553,1.439764

In [70]:


header = True
delimiter = ';'
visa_status_col_name = 'CASE_STATUS'
occupation_col_name = 'SOC_NAME'

bad_list = ['15-1132', '13-2011', '15-1121', '13-1111']

occupation_counts = {}
# with open('../input/sample.csv', 'r') as f:
with open('../input/H1B_FY_2016.csv') as f:
    lines = f.readlines()
    if header:
        header = lines[0]
        columns = [col.rstrip() for col in header.split(delimiter)]
        visa_status_idx = columns.index(visa_status_col_name)
#         print('visa_status_idx', visa_status_idx)
        occupation_col_idx = columns.index(occupation_col_name)
#         print('occupation_col_idx', occupation_col_idx)
        lines = lines[1:]
        N = len(columns)
    else:
        N = len(lines[0])
#     print(columns)
#     print(N)
    i = 0
#     for line in lines[27980:30000]:
    for line in lines:
        line = line.replace('&AMP;', '').replace('&;', '').replace('VP;', 'VP').replace(
                            'PRESIDENT;', 'PRESIDENT').replace('OFFICER;', 'OFFICER').replace('&NDASH;', '&NDASH').replace(
                            '&REG;', '&REG')
        split_line = line.rstrip().split(delimiter)
        if split_line[visa_status_idx] == 'CERTIFIED':
            occ = split_line[occupation_col_idx]
            if occ in bad_list:
                print(line)
                split_line.append('BAD LINE')
                print(split_line)
#             print(split_line)
            if occ not in occupation_counts:
                occupation_counts[occ] = 0
            occupation_counts[occ] += 1
#             print(i, split_line[occupation_col_idx])

sorted(occupation_counts.items(), key=lambda x: x[1], reverse=True)[:100]

97565;I-200-15338-581068;CERTIFIED;2015-12-17;2015-12-28;H-1B;2016-06-10;2019-06-09;AUTODESK, INC.;111 MCINNIS PARKWAY;SAN RAFAEL;CA;94903;UNITED STATES OF AMERICA;;4155394618;;TOY, YVONNE;SAN FRANCISCO;CA;"BUSINESS SYSTEMS ANALYST&NBSP;";15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;121222.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;126027.0;0.0;Year;N;N;SAN FRANCISCO;SAN FRANCISCO;CA;94105;

['97565', 'I-200-15338-581068', 'CERTIFIED', '2015-12-17', '2015-12-28', 'H-1B', '2016-06-10', '2019-06-09', 'AUTODESK, INC.', '111 MCINNIS PARKWAY', 'SAN RAFAEL', 'CA', '94903', 'UNITED STATES OF AMERICA', '', '4155394618', '', 'TOY, YVONNE', 'SAN FRANCISCO', 'CA', '"BUSINESS SYSTEMS ANALYST&NBSP', '"', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '121222.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '126027.0', '0.0', 'Year', 'N', 'N', 'SAN FRANCISCO', 'SAN FRANCISCO', 'CA', '94105', '', 'BAD LINE']
142632;I-200-16072-900308;CERTIFIED;2016-03-12;2016-03-17;H-1B;2016-09-11;2019-09-10;INVICTUS INFOTECH LLC;"200 MIDDLESEX ESSEX TPK ; SUITE # 306 C&D";ISELIN;NJ;08830;UNITED STATES OF AMERICA;;7324047393;;,;;;BUSINESS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;70762.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;71000.0;0.0;Year;Y;N;EDISON;MIDDLESEX;NJ;08837;

['142632', 'I-200-16072-900308', 'CERTIFIED', '2016-03-12', '2016-03-17', 'H-1B', '2016-09-11', '2019-09-10', 'INVICTUS INFOTECH LLC', '"200 MIDDLESEX ESSEX TPK ', ' SUITE # 306 C&D"', 'ISELIN', 'NJ', '08830', 'UNITED STATES OF AMERICA', '', '7324047393', '', ',', '', '', 'BUSINESS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '70762.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '71000.0', '0.0', 'Year', 'Y', 'N', 'EDISON', 'MIDDLESEX', 'NJ', '08837', '', 'BAD LINE']
148915;I-200-16077-790111;CERTIFIED;2016-03-17;2016-03-23;H-1B;2016-09-10;2019-09-05;HORIZON ADVANCED SYSTEMS INC;"1303 W WALNUT HILL LN; SUITE 355";IRVING;TX;75038;UNITED STATES OF AMERICA;;9734534646;;PARVATHANENI, D.;DALLAS;TX;BI SYSTEMS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;74922.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;74922.0;0.0;Year;N;N;SOUTH SAN FRANCISCO;SAN MATEO;CA;94080;

['148915', 'I-200-16077-790111', 'CERTIFIED', '2016-03-17', '2016-03-23', 'H-1B', '2016-09-10', '2019-09-05', 'HORIZON ADVANCED SYSTEMS INC', '"1303 W WALNUT HILL LN', ' SUITE 355"', 'IRVING', 'TX', '75038', 'UNITED STATES OF AMERICA', '', '9734534646', '', 'PARVATHANENI, D.', 'DALLAS', 'TX', 'BI SYSTEMS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '74922.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '74922.0', '0.0', 'Year', 'N', 'N', 'SOUTH SAN FRANCISCO', 'SAN MATEO', 'CA', '94080', '', 'BAD LINE']
173354;I-200-16161-669600;CERTIFIED;2016-06-09;2016-06-15;H-1B;2016-06-10;2019-06-05;HORIZON ADVANCED SYSTEMS INC;"1303 W WALNUT HILL LN; SUITE 355";IRVING;TX;75038;UNITED STATES OF AMERICA;;9734534646;;PARVATHANENI, D.;DALLAS;TX;SYSTEMS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;59259.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;85000.0;0.0;Year;N;N;BAKERSFIELD;KERN;CA;93311;

['173354', 'I-200-16161-669600', 'CERTIFIED', '2016-06-09', '2016-06-15', 'H-1B', '2016-06-10', '2019-06-05', 'HORIZON ADVANCED SYSTEMS INC', '"1303 W WALNUT HILL LN', ' SUITE 355"', 'IRVING', 'TX', '75038', 'UNITED STATES OF AMERICA', '', '9734534646', '', 'PARVATHANENI, D.', 'DALLAS', 'TX', 'SYSTEMS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '59259.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '85000.0', '0.0', 'Year', 'N', 'N', 'BAKERSFIELD', 'KERN', 'CA', '93311', '', 'BAD LINE']
175911;I-200-16174-075526;CERTIFIED;2016-06-22;2016-06-28;H-1B;2016-06-30;2019-06-25;HORIZON ADVANCED SYSTEMS INC;"1303 W WALNUT HILL LN; SUITE 355";IRVING;TX;75038;UNITED STATES OF AMERICA;;9734534646;;PARVATHANENI, D.;DALLAS;TX;SYSTEMS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;60133.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;65000.0;0.0;Year;N;N;IRVING;DALLAS;TX;75063;

['175911', 'I-200-16174-075526', 'CERTIFIED', '2016-06-22', '2016-06-28', 'H-1B', '2016-06-30', '2019-06-25', 'HORIZON ADVANCED SYSTEMS INC', '"1303 W WALNUT HILL LN', ' SUITE 355"', 'IRVING', 'TX', '75038', 'UNITED STATES OF AMERICA', '', '9734534646', '', 'PARVATHANENI, D.', 'DALLAS', 'TX', 'SYSTEMS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '60133.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '65000.0', '0.0', 'Year', 'N', 'N', 'IRVING', 'DALLAS', 'TX', '75063', '', 'BAD LINE']
176014;I-200-16174-447214;CERTIFIED;2016-06-22;2016-06-28;H-1B;2016-06-30;2019-06-25;HORIZON ADVANCED SYSTEMS INC;"1303 W WALNUT HILL LN; SUITE 355";IRVING;TX;75038;UNITED STATES OF AMERICA;;9734534646;;PARVATHANENI, D.;DALLAS;TX;SYSTEMS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;60133.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;65000.0;0.0;Year;N;N;IRVING;DALLAS;TX;75063;

['176014', 'I-200-16174-447214', 'CERTIFIED', '2016-06-22', '2016-06-28', 'H-1B', '2016-06-30', '2019-06-25', 'HORIZON ADVANCED SYSTEMS INC', '"1303 W WALNUT HILL LN', ' SUITE 355"', 'IRVING', 'TX', '75038', 'UNITED STATES OF AMERICA', '', '9734534646', '', 'PARVATHANENI, D.', 'DALLAS', 'TX', 'SYSTEMS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '60133.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '65000.0', '0.0', 'Year', 'N', 'N', 'IRVING', 'DALLAS', 'TX', '75063', '', 'BAD LINE']
176390;I-200-16175-678151;CERTIFIED;2016-06-24;2016-06-30;H-1B;2016-12-10;2019-12-10;SOO LINE RAILROAD COMPANY;120 SOUTH SIXTH STREET;MINNEAPOLIS;MN;55402;UNITED STATES OF AMERICA;;6129045925;;"STEINLE, REN&EACUTE;E";MINNEAPOLIS;MN;SPECIALIST QUALITY ASSURANCE TEST;15-1121;COMPUTER SYSTEMS ANALYSTS;482111.0;1;;100506.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;106000.0;0.0;Year;N;N;MINNEAPOLIS;HENNEPIN;MN;55402;

['176390', 'I-200-16175-678151', 'CERTIFIED', '2016-06-24', '2016-06-30', 'H-1B', '2016-12-10', '2019-12-10', 'SOO LINE RAILROAD COMPANY', '120 SOUTH SIXTH STREET', 'MINNEAPOLIS', 'MN', '55402', 'UNITED STATES OF AMERICA', '', '6129045925', '', '"STEINLE, REN&EACUTE', 'E"', 'MINNEAPOLIS', 'MN', 'SPECIALIST QUALITY ASSURANCE TEST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '482111.0', '1', '', '100506.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '106000.0', '0.0', 'Year', 'N', 'N', 'MINNEAPOLIS', 'HENNEPIN', 'MN', '55402', '', 'BAD LINE']
182401;I-200-16204-315966;CERTIFIED;2016-07-22;2016-07-28;H-1B;2016-07-25;2019-07-20;HORIZON ADVANCED SYSTEMS INC;"1303 W WALNUT HILL LN; SUITE 355";IRVING;TX;75038;UNITED STATES OF AMERICA;;9734534646;;PARVATHANENI, D.;DALLAS;TX;SYSTEMS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;62754.0;Year;OES;2016.0;OFLC ONLINE DATA CENTER;65000.0;0.0;Year;N;N;IRVING;DALLAS;TX;75039;

['182401', 'I-200-16204-315966', 'CERTIFIED', '2016-07-22', '2016-07-28', 'H-1B', '2016-07-25', '2019-07-20', 'HORIZON ADVANCED SYSTEMS INC', '"1303 W WALNUT HILL LN', ' SUITE 355"', 'IRVING', 'TX', '75038', 'UNITED STATES OF AMERICA', '', '9734534646', '', 'PARVATHANENI, D.', 'DALLAS', 'TX', 'SYSTEMS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '62754.0', 'Year', 'OES', '2016.0', 'OFLC ONLINE DATA CENTER', '65000.0', '0.0', 'Year', 'N', 'N', 'IRVING', 'DALLAS', 'TX', '75039', '', 'BAD LINE']
187484;I-200-16228-958765;CERTIFIED;2016-08-15;2016-08-19;H-1B;2016-08-20;2019-08-15;HORIZON ADVANCED SYSTEMS INC;"1303 W WALNUT HILL LN; SUITE 355";IRVING;TX;75038;UNITED STATES OF AMERICA;;9734534646;;PARVATHANENI, D.;DALLAS;TX;SYSTEMS ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;62754.0;Year;OES;2016.0;OFLC ONLINE DATA CENTER;65000.0;0.0;Year;N;N;IRVING;DALLAS;TX;75039;

['187484', 'I-200-16228-958765', 'CERTIFIED', '2016-08-15', '2016-08-19', 'H-1B', '2016-08-20', '2019-08-15', 'HORIZON ADVANCED SYSTEMS INC', '"1303 W WALNUT HILL LN', ' SUITE 355"', 'IRVING', 'TX', '75038', 'UNITED STATES OF AMERICA', '', '9734534646', '', 'PARVATHANENI, D.', 'DALLAS', 'TX', 'SYSTEMS ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '62754.0', 'Year', 'OES', '2016.0', 'OFLC ONLINE DATA CENTER', '65000.0', '0.0', 'Year', 'N', 'N', 'IRVING', 'DALLAS', 'TX', '75039', '', 'BAD LINE']
195056;I-200-16268-213942;CERTIFIED;2016-09-24;2016-09-29;H-1B;2016-09-27;2019-09-26;SELECT IT RESOURCES LLC;"304 &FRAC12; S. STATE STREET";ANN ARBOR;MI;48104;UNITED STATES OF AMERICA;;7343203901;;,;;;PROGRAMMER ANALYST;15-1121;COMPUTER SYSTEMS ANALYSTS;541511.0;1;;53394.0;Year;Other;2016.0;OFLC ONLINE DATA CENTER;53394.0;0.0;Year;N;N;JACKSONVILLE;DUVAL COUNTY;FL;32216;

['195056', 'I-200-16268-213942', 'CERTIFIED', '2016-09-24', '2016-09-29', 'H-1B', '2016-09-27', '2019-09-26', 'SELECT IT RESOURCES LLC', '"304 &FRAC12', ' S. STATE STREET"', 'ANN ARBOR', 'MI', '48104', 'UNITED STATES OF AMERICA', '', '7343203901', '', ',', '', '', 'PROGRAMMER ANALYST', '15-1121', 'COMPUTER SYSTEMS ANALYSTS', '541511.0', '1', '', '53394.0', 'Year', 'Other', '2016.0', 'OFLC ONLINE DATA CENTER', '53394.0', '0.0', 'Year', 'N', 'N', 'JACKSONVILLE', 'DUVAL COUNTY', 'FL', '32216', '', 'BAD LINE']

286817;I-200-15236-146443;CERTIFIED;2015-09-28;2015-10-02;H-1B;2015-10-01;2018-10-01;MERRILL LYNCH;50 ROCKEFELLER PLAZA;NEW YORK;NY;10020;UNITED STATES OF AMERICA;;6468551847;;JEFFERS, VERONICA;LOS ANGELES;CA;"OFFICE; TECH PROG ASSOCIATE";15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;523110.0;1;;67787.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;80000.0;100000.0;Year;N;N;PENNINGTON;MERCER;NJ;08534;

['286817', 'I-200-15236-146443', 'CERTIFIED', '2015-09-28', '2015-10-02', 'H-1B', '2015-10-01', '2018-10-01', 'MERRILL LYNCH', '50 ROCKEFELLER PLAZA', 'NEW YORK', 'NY', '10020', 'UNITED STATES OF AMERICA', '', '6468551847', '', 'JEFFERS, VERONICA', 'LOS ANGELES', 'CA', '"OFFICE', ' TECH PROG ASSOCIATE"', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '523110.0', '1', '', '67787.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '80000.0', '100000.0', 'Year', 'N', 'N', 'PENNINGTON', 'MERCER', 'NJ', '08534', '', 'BAD LINE']
288403;I-200-15273-909765;CERTIFIED;2015-11-13;2015-11-19;H-1B;2015-11-20;2018-11-20;BANK OF AMERICA N.A.;50 ROCKEFELLER PLAZA;NEW YORK;NY;10020;UNITED STATES OF AMERICA;;6468551847;;ALLEN, EMILY;LOS ANGELES;CA;"DIRECTOR; PROGRAMMER LEAD MKTS (MANAGER)";15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;522110.0;1;;130666.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;190000.0;210000.0;Year;N;N;NEW YORK;NEW YORK;NY;10036;

['288403', 'I-200-15273-909765', 'CERTIFIED', '2015-11-13', '2015-11-19', 'H-1B', '2015-11-20', '2018-11-20', 'BANK OF AMERICA N.A.', '50 ROCKEFELLER PLAZA', 'NEW YORK', 'NY', '10020', 'UNITED STATES OF AMERICA', '', '6468551847', '', 'ALLEN, EMILY', 'LOS ANGELES', 'CA', '"DIRECTOR', ' PROGRAMMER LEAD MKTS (MANAGER)"', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '522110.0', '1', '', '130666.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '190000.0', '210000.0', 'Year', 'N', 'N', 'NEW YORK', 'NEW YORK', 'NY', '10036', '', 'BAD LINE']
331412;I-200-16063-690460;CERTIFIED;2016-03-04;2016-03-10;H-1B;2016-03-17;2019-03-17;BANK OF AMERICA CORPORATION;50 ROCKEFELLER PLAZA;NEW YORK;NY;10020;UNITED STATES OF AMERICA;;6468551847;;ALLEN, EMILY;LOS ANGELES;CA;"ASSOCIATE; 13 ASSOCIATE - QUANT";15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;522110.0;1;;91562.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;150000.0;170000.0;Year;N;N;NEW YORK;NEW YORK;NY;10036;

['331412', 'I-200-16063-690460', 'CERTIFIED', '2016-03-04', '2016-03-10', 'H-1B', '2016-03-17', '2019-03-17', 'BANK OF AMERICA CORPORATION', '50 ROCKEFELLER PLAZA', 'NEW YORK', 'NY', '10020', 'UNITED STATES OF AMERICA', '', '6468551847', '', 'ALLEN, EMILY', 'LOS ANGELES', 'CA', '"ASSOCIATE', ' 13 ASSOCIATE - QUANT"', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '522110.0', '1', '', '91562.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '150000.0', '170000.0', 'Year', 'N', 'N', 'NEW YORK', 'NEW YORK', 'NY', '10036', '', 'BAD LINE']
377096;I-200-16155-857058;CERTIFIED;2016-06-07;2016-06-13;H-1B;2016-11-03;2019-11-03;BANK OF AMERICA N.A.;50 ROCKEFELLER PLAZA;NEW YORK;NY;10020;UNITED STATES OF AMERICA;;6468551847;;ALLEN, EMILY;LOS ANGELES;CA;"DIRECTOR; PROGRAMMER LEAD MKTS (MANAGER)";15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;522110.0;1;;105248.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;133000.0;153000.0;Year;N;N;CHARLOTTE;MECKLENBURG;NC;28255;

['377096', 'I-200-16155-857058', 'CERTIFIED', '2016-06-07', '2016-06-13', 'H-1B', '2016-11-03', '2019-11-03', 'BANK OF AMERICA N.A.', '50 ROCKEFELLER PLAZA', 'NEW YORK', 'NY', '10020', 'UNITED STATES OF AMERICA', '', '6468551847', '', 'ALLEN, EMILY', 'LOS ANGELES', 'CA', '"DIRECTOR', ' PROGRAMMER LEAD MKTS (MANAGER)"', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '522110.0', '1', '', '105248.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '133000.0', '153000.0', 'Year', 'N', 'N', 'CHARLOTTE', 'MECKLENBURG', 'NC', '28255', '', 'BAD LINE']
379465;I-200-16168-126149;CERTIFIED;2016-06-21;2016-06-27;H-1B;2016-06-30;2019-06-30;BANK OF AMERICA N.A.;50 ROCKEFELLER PLAZA;NEW YORK;NY;10020;UNITED STATES OF AMERICA;;6468551847;;ALLEN, EMILY;LOS ANGELES;CA;"DIRECTOR; PROGRAMMER LEAD MKTS (MGR)";15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;522110.0;1;;130666.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;150000.0;170000.0;Year;N;N;JERSEY CITY;HUDSON;NJ;07302;

['379465', 'I-200-16168-126149', 'CERTIFIED', '2016-06-21', '2016-06-27', 'H-1B', '2016-06-30', '2019-06-30', 'BANK OF AMERICA N.A.', '50 ROCKEFELLER PLAZA', 'NEW YORK', 'NY', '10020', 'UNITED STATES OF AMERICA', '', '6468551847', '', 'ALLEN, EMILY', 'LOS ANGELES', 'CA', '"DIRECTOR', ' PROGRAMMER LEAD MKTS (MGR)"', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '522110.0', '1', '', '130666.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '150000.0', '170000.0', 'Year', 'N', 'N', 'JERSEY CITY', 'HUDSON', 'NJ', '07302', '', 'BAD LINE']
384890;I-200-16187-332867;CERTIFIED;2016-07-05;2016-07-11;H-1B;2016-07-11;2019-07-11;E. I. DU PONT DE NEMOURS AND COMPANY;"974 CENTRE ROAD; CHESTNUT RUN PLAZA";WILMINGTON;DE;19805;UNITED STATES OF AMERICA;;3029968283;;PECK, AMY;OMAHA;NE;ESB SR. SOFTWARE DEVELOPER;15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;325199.0;1;;95202.0;Year;OES;2015.0;OFLC ONLINE DATA CENTER;95202.0;132870.0;Year;N;N;JOHNSTON;POLK;IA;50131;

['384890', 'I-200-16187-332867', 'CERTIFIED', '2016-07-05', '2016-07-11', 'H-1B', '2016-07-11', '2019-07-11', 'E. I. DU PONT DE NEMOURS AND COMPANY', '"974 CENTRE ROAD', ' CHESTNUT RUN PLAZA"', 'WILMINGTON', 'DE', '19805', 'UNITED STATES OF AMERICA', '', '3029968283', '', 'PECK, AMY', 'OMAHA', 'NE', 'ESB SR. SOFTWARE DEVELOPER', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '325199.0', '1', '', '95202.0', 'Year', 'OES', '2015.0', 'OFLC ONLINE DATA CENTER', '95202.0', '132870.0', 'Year', 'N', 'N', 'JOHNSTON', 'POLK', 'IA', '50131', '', 'BAD LINE']
395521;I-200-16236-070539;CERTIFIED;2016-08-26;2016-09-01;H-1B;2017-02-09;2020-02-09;BANK OF AMERICA N.A.;50 ROCKEFELLER PLAZA;NEW YORK;NY;10020;UNITED STATES OF AMERICA;;6468551847;;ALLEN, EMILY;LOS ANGELES;CA;"PRODUCTION SERVICES LEAD; CNSLT - APPS PROG";15-1132;SOFTWARE DEVELOPERS, APPLICATIONS;522110.0;1;;85197.0;Year;OES;2016.0;OFLC ONLINE DATA CENTER;85197.0;101000.0;Year;N;N;ADDISON;DALLAS;TX;75001;

['395521', 'I-200-16236-070539', 'CERTIFIED', '2016-08-26', '2016-09-01', 'H-1B', '2017-02-09', '2020-02-09', 'BANK OF AMERICA N.A.', '50 ROCKEFELLER PLAZA', 'NEW YORK', 'NY', '10020', 'UNITED STATES OF AMERICA', '', '6468551847', '', 'ALLEN, EMILY', 'LOS ANGELES', 'CA', '"PRODUCTION SERVICES LEAD', ' CNSLT - APPS PROG"', '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', '522110.0', '1', '', '85197.0', 'Year', 'OES', '2016.0', 'OFLC ONLINE DATA CENTER', '85197.0', '101000.0', 'Year', 'N', 'N', 'ADDISON', 'DALLAS', 'TX', '75001', '', 'BAD LINE']

[('SOFTWARE DEVELOPERS, APPLICATIONS', 106526),
 ('COMPUTER SYSTEMS ANALYSTS', 88197),
 ('COMPUTER PROGRAMMERS', 72073),
 ('COMPUTER OCCUPATIONS, ALL OTHER', 48536),
 ('SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE', 19296),
 ('COMPUTER SYSTEMS ANALYST', 16694),
 ('MANAGEMENT ANALYSTS', 13811),
 ('ACCOUNTANTS AND AUDITORS', 10132),
 ('NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS', 9869),
 ('MECHANICAL ENGINEERS', 8311),
 ('FINANCIAL ANALYSTS', 7854),
 ('DATABASE ADMINISTRATORS', 7676),
 ('OPERATIONS RESEARCH ANALYSTS', 6962),
 ('MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS', 6958),
 ('ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 6044),
 ('COMPUTER AND INFORMATION SYSTEMS MANAGERS', 5404),
 ('PHYSICIANS AND SURGEONS, ALL OTHER', 5198),
 ('ELECTRICAL ENGINEERS', 5149),
 ('WEB DEVELOPERS', 4508),
 ('MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS', 3557),
 ('STATISTICIANS', 3527),
 ('SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS', 3368),
 ('PHYSICAL THERAPISTS', 2928),
 ('INDUSTRIAL ENGINEERS', 2813),
 ('CIVIL ENGINEERS', 2698),
 ('BIOCHEMISTS AND BIOPHYSICISTS', 2532),
 ('BIOLOGICAL SCIENTISTS, ALL OTHER', 2515),
 ('MARKETING MANAGERS', 2380),
 ('ENGINEERS, ALL OTHER', 2369),
 ('COMPUTER PROGRAMMER', 2124),
 ('SALES ENGINEERS', 1952),
 ('GRAPHIC DESIGNERS', 1919),
 ('CHEMISTS', 1877),
 ('INTERNISTS, GENERAL', 1854),
 ('COMPUTER SYSTEMS ENGINEERS/ARCHITECTS', 1702),
 ('GENERAL AND OPERATIONS MANAGERS', 1564),
 ('LOGISTICIANS', 1476),
 ('HEALTH SPECIALTIES TEACHERS, POSTSECONDARY', 1461),
 ('FINANCIAL MANAGERS', 1429),
 ('COMMERCIAL AND INDUSTRIAL DESIGNERS', 1402),
 ('FINANCIAL SPECIALISTS, ALL OTHER', 1367),
 ('INFORMATION SECURITY ANALYSTS', 1278),
 ('LAWYERS', 1265),
 ('COMPUTER AND INFORMATION RESEARCH SCIENTISTS', 1218),
 ('COMPUTER HARDWARE ENGINEERS', 1161),
 ('HUMAN RESOURCES SPECIALISTS', 1155),
 ('ARCHITECTURAL AND ENGINEERING MANAGERS', 1099),
 ('ELEMENTARY SCHOOL TEACHERS, EXCEPT SPECIAL', 1089),
 ('MATERIALS ENGINEERS', 1087),
 ('PUBLIC RELATIONS SPECIALISTS', 1082),
 ('SECONDARY SCHOOL TEACHERS, EXCEPT SPECIAL AND', 1033),
 ('CHEMICAL ENGINEERS', 1022),
 ('DENTISTS, GENERAL', 1003),
 ('ARCHITECTS, EXCEPT LANDSCAPE AND NAVAL', 1000),
 ('INFORMATION TECHNOLOGY PROJECT MANAGERS', 994),
 ('BUSINESS OPERATIONS SPECIALISTS, ALL OTHER', 930),
 ('SALES MANAGERS', 927),
 ('BIOLOGICAL TECHNICIANS', 912),
 ('BUSINESS TEACHERS, POSTSECONDARY', 885),
 ('MEDICAL AND CLINICAL LABORATORY TECHNOLOGISTS', 877),
 ('PHARMACISTS', 857),
 ('ENGINEERING TEACHERS, POSTSECONDARY', 856),
 ('ARCHITECTURAL AND CIVIL DRAFTERS', 835),
 ('COMPUTER NETWORK ARCHITECTS', 817),
 ('BIOMEDICAL ENGINEERS', 815),
 ('ECONOMISTS', 813),
 ('523110.0', 708),
 ('PHYSICISTS', 702),
 ('COMPUTER SYSTEMS ENGINEERS', 700),
 ('FAMILY AND GENERAL PRACTITIONERS', 693),
 ('COST ESTIMATORS', 667),
 ('MEDICAL AND HEALTH SERVICES MANAGERS', 662),
 ('COMPUTER USER SUPPORT SPECIALISTS', 662),
 ('MATHEMATICAL SCIENCE TEACHERS, POSTSECONDARY', 639),
 ('MATERIALS SCIENTISTS', 633),
 ('MANAGERS, ALL OTHER', 625),
 ('COMPLIANCE OFFICERS', 614),
 ('ACTUARIES', 612),
 ('COMPUTER NETWORK SUPPORT SPECIALISTS', 606),
 ('HEALTHCARE PRACTITIONERS AND TECHNICAL WORKERS,', 603),
 ('INDUSTRIAL PRODUCTION MANAGERS', 588),
 ('CREDIT ANALYSTS', 549),
 ('OCCUPATIONAL THERAPISTS', 513),
 ('COMPUTER SCIENCE TEACHERS, POSTSECONDARY', 511),
 ('CONSTRUCTION MANAGERS', 507),
 ('INTERIOR DESIGNERS', 505),
 ('TRANSPORTATION, STORAGE, AND DISTRIBUTION MANAGERS', 495),
 ('MULTIMEDIA ARTISTS AND ANIMATORS', 488),
 ('FOOD SCIENTISTS AND TECHNOLOGISTS', 487),
 ('INSTRUCTIONAL COORDINATORS', 487),
 ('HEALTH DIAGNOSING AND TREATING PRACTITIONERS, ALL', 481),
 ('FOREIGN LANGUAGE AND LITERATURE TEACHERS,', 472),
 ('BUDGET ANALYSTS', 468),
 ('TRAINING AND DEVELOPMENT SPECIALISTS', 465),
 ('ENVIRONMENTAL ENGINEERS', 424),
 ('MIDDLE SCHOOL TEACHERS, EXCEPT SPECIAL AND', 422),
 ('MATHEMATICIANS', 414),
 ('PEDIATRICIANS, GENERAL', 410),
 ('MICROBIOLOGISTS', 406),
 ('SPEECH-LANGUAGE PATHOLOGISTS', 400)]

In [9]:
dat2015 = pd.read_csv('../input/H1B_FY_2015.csv', delimiter=';')
dat2015.head()

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS1,...,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,0,I-200-09121-701936,WITHDRAWN,2015-02-05,2015-02-05,H-1B,02/09/2015,02/28/2015,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,...,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412
1,1,I-200-09146-796321,CERTIFIED,2014-12-12,2014-12-18,H-1B,01/05/2015,01/04/2018,UNIVERSITY OF OKLAHOMA,905 ASP AVE,...,2014.0,OFLC ONLINE DATA CENTER,85000.00 -,Year,N,N,NORMAN,CLEVELAND,OK,73019
2,2,I-200-09180-329758,WITHDRAWN,2013-01-03,2014-12-15,H-1B,01/07/2013,01/06/2016,NOKIA INC.,6021 CONNECTION DRIVE,...,2012.0,OFLC ONLINE DATA CENTER,94000 -,Year,N,N,SAN DIEGO,SAN DIEGO,CA,92127
3,3,I-200-09183-259985,CERTIFIED,2015-03-10,2015-03-16,H-1B,09/07/2015,09/07/2018,"OMRON OILFIELD AND MARINE, INC.",9510 N. HOUSTON ROSSLYN ROAD,...,2014.0,OFLC ONLINE DATA CENTER,66000 - 70000,Year,N,N,HOUSTON,HARRIS,TX,77088
4,4,I-200-09189-800933,CERTIFIED,2014-12-17,2014-12-23,H-1B,06/06/2015,06/05/2018,FEDERAL HOME LOAN MORTGAGE CO.,8250 JONES BRANCH DRIVE,...,2014.0,OFLC ONLINE DATA CENTER,97000 - 143300,Year,N,N,MCLEAN,FAIRFAX,VA,22102

In [10]:
list(dat2015.columns)

['Unnamed: 0',
 'CASE_NUMBER',
 'CASE_STATUS',
 'CASE_SUBMITTED',
 'DECISION_DATE',
 'VISA_CLASS',
 'EMPLOYMENT_START_DATE',
 'EMPLOYMENT_END_DATE',
 'EMPLOYER_NAME',
 'EMPLOYER_ADDRESS1',
 'EMPLOYER_ADDRESS2',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_PROVINCE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'AGENT_ATTORNEY_NAME',
 'AGENT_ATTORNEY_CITY',
 'AGENT_ATTORNEY_STATE',
 'JOB_TITLE',
 'SOC_CODE',
 'SOC_NAME',
 'NAIC_CODE',
 'TOTAL WORKERS',
 'FULL_TIME_POSITION',
 'PREVAILING_WAGE',
 'PW_UNIT_OF_PAY',
 'PW_WAGE_LEVEL',
 'PW_WAGE_SOURCE',
 'PW_WAGE_SOURCE_YEAR',
 'PW_WAGE_SOURCE_OTHER',
 'WAGE_RATE_OF_PAY',
 'WAGE_UNIT_OF_PAY',
 'H-1B_DEPENDENT',
 'WILLFUL VIOLATOR',
 'WORKSITE_CITY',
 'WORKSITE_COUNTY',
 'WORKSITE_STATE',
 'WORKSITE_POSTAL_CODE']

In [39]:
!head ../input/sample.csv

;CASE_NUMBER;CASE_STATUS;CASE_SUBMITTED;DECISION_DATE;VISA_CLASS;EMPLOYMENT_START_DATE;EMPLOYMENT_END_DATE;EMPLOYER_NAME;EMPLOYER_ADDRESS;EMPLOYER_CITY;EMPLOYER_STATE;EMPLOYER_POSTAL_CODE;EMPLOYER_COUNTRY;EMPLOYER_PROVINCE;EMPLOYER_PHONE;EMPLOYER_PHONE_EXT;AGENT_ATTORNEY_NAME;AGENT_ATTORNEY_CITY;AGENT_ATTORNEY_STATE;JOB_TITLE;SOC_CODE;SOC_NAME;NAIC_CODE;TOTAL_WORKERS;FULL_TIME_POSITION;PREVAILING_WAGE;PW_UNIT_OF_PAY;PW_WAGE_SOURCE;PW_SOURCE_YEAR;PW_SOURCE_OTHER;WAGE_RATE_OF_PAY_FROM;WAGE_RATE_OF_PAY_TO;WAGE_UNIT_OF_PAY;H-1B_DEPENDENT;WILLFUL_VIOLATOR;WORKSITE_CITY;WORKSITE_COUNTY;WORKSITE_STATE;WORKSITE_POSTAL_CODE;ORIGINAL_CERT_DATE

1;I-200-13053-847481;CERTIFIED-WITHDRAWN;2013-02-25;2016-01-13;H-1B;2013-08-24;2016-08-23;GOODMAN NETWORKS, INC.;6400 INTERNATIONAL PARKWAY, SUITE 1000;PLANO;TX;75093;UNITED STATES OF AMERICA;;9724215173;;HULME, RANDALL;ADDISON;TX;CHIEF OPERATING OFFICER;11-1011;CHIEF EXECUTIVES;238210.0;1;;242674.0;Year;OES;2012.0;OFLC ONLINE DATA CENTER;400000.0;0.0;Year;N;N;PLANO;COLLIN;TX;75093;2013-03-01
2;I-200-13088-054259;CERTIFIED-WITHDRAWN;2013-04-23;2015-12-10;H-1B;2013-04-29;2016-04-28;PORTS AMERICA GROUP, INC.;525 WASHINGTON BOULEVARD;JERSEY CITY;NJ;07310;UNITED STATES OF AMERICA;;7326353899;;HENNER, JANET;NEW YORK;NY;CHIEF PROCESS OFFICER;11-1011;CHIEF EXECUTIVES;488310.0;1;;193066.0;Year;OES;2012.0;OFLC ONLINE DATA CENTER;264000.0;451100.0;Year;N;N;JERSEY CITY;HUDSON;NJ;07310;2013-04-29
3;I-200-13144-034110;CERTIFIED-WITHDRAWN;2013-05-24;2016-01-19;H-1B;2013-10-01;2016-09-30;GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY OF TOMKINS PLC;1551 WEWATTA STREET;DENVER;CO;80202;UNITED STATES OF AMERICA;;3037444739;;Shackelford, Andrew;PHOENIX;AZ;REGIONAL PRESIDEN, AMERICAS;11-1011;CHIEF EXECUTIVES;3363.0;1;;220314.0;Year;OES;2012.0;OFLC ONLINE DATA CENTER;220314.0;600000.0;Year;N;N;DENVER;DENVER;CO;80202;2013-05-29
4;I-200-13172-415116;WITHDRAWN;2013-06-26;2016-05-20;H-1B;2013-10-18;2016-10-17;PEABODY INVESTMENTS CORP.;701 MARKET STREET;ST. LOUIS;MO;63101;UNITED STATES OF AMERICA;;3145883065;;BAILEY, MICHAEL;ADDISON;TX;PRESIDENT MONGOLIA AND INDIA;11-1011;CHIEF EXECUTIVES;213113.0;1;;75.73;Hour;OES;2012.0;OFLC ONLINE DATA CENTER;171.63;0.0;Hour;N;N;ST. LOUIS;ST. LOUIS;MO;63101;
5;I-200-13219-306739;CERTIFIED-WITHDRAWN;2013-08-07;2015-10-30;H-1B;2013-09-15;2016-09-15;BURGER KING CORPORATION;5505 BLUE LAGOON DRIVE;MIAMI;FL;33126;UNITED STATES OF AMERICA;;3053783000;;Hall, Raazia;Atlanta;GA;EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDENT, LATIN AMERI;11-1011;CHIEF EXECUTIVES;722513.0;1;;225000.0;Year;Other;2012.0;TOWERS WATSON 2012 CSR TOP MANAGEMENT COMPENSATION SURVEY REPORT;225000.0;0.0;Year;N;N;MIAMI;MIAMI-DADE;FL;33126;2013-08-12
6;I-200-13317-861241;CERTIFIED-WITHDRAWN;2013-11-20;2016-02-22;H-1B;2013-12-02;2016-12-01;BT AND MK ENERGY AND COMMODITIES;1395 BRICKELL AVENUE;MIAMI;FL;33131;UNITED STATES OF AMERICA;;7864520948;;GAVICA PEREZ, DENISE;CORAL GABLES;FL;CHIEF OPERATING OFFICER;11-1011;CHIEF EXECUTIVES;213112.0;1;;91021.0;Year;Other;2013.0;OFLC ONLINE DATA CENTER;120000.0;0.0;Year;N;N;HOUSTON;HOUSTON;TX;77084;2013-11-25
7;I-200-14037-755844;CERTIFIED-WITHDRAWN;2014-02-07;2015-11-16;H-1B;2014-08-07;2017-08-06;GLOBO MOBILE TECHNOLOGIES, INC.;1054 SOUTH DE ANZA BOULEVARD, SUITE 105;SAN JOSE;CA;95129;UNITED STATES OF AMERICA;;7087777930;;TAYLOR, MARC;NEW YORK;NY;CHIEF OPERATIONS OFFICER;11-1011;CHIEF EXECUTIVES;5112.0;1;;150000.0;Year;OES;2013.0;OFLC ONLINE DATA CENTER;150000.0;0.0;Year;N;N;SAN JOSE;SANTA CLARA;CA;95129;2014-02-13
8;I-200-14042-183163;CERTIFIED-WITHDRAWN;2014-02-19;2015-11-18;H-1B;2014-02-21;2017-02-21;ESI COMPANIES INC.;1861 VANDERHORN DRIVE;MEMPHIS;TN;38134;UNITED STATES OF AMERICA;;9013867340;;JACKSON, CHRISTI;ADDISON;TX;PRESIDENT;11-1011;CHIEF EXECUTIVES;541690.0;1;;127546.0;Year;OES;2013.0;OFLC ONLINE DATA CENTER;175000.0;0.0;Year;N;N;MEMPHIS;SHELBY;TX;38134;2014-02-25

In [61]:
certified_dat = dat[dat['CASE_STATUS'] == 'CERTIFIED']
N = len(certified_dat)
top_occupations = pd.DataFrame(certified_dat['SOC_NAME'].value_counts()).reset_index()
top_occupations.columns = ['TOP_OCCUPATIONS', 'NUMBER_CERTIFIED_APPLICATIONS']
top_occupations['PERCENTAGE'] = (top_occupations['NUMBER_CERTIFIED_APPLICATIONS'] / N) * 100.0
top_occupations.tail()

,TOP_OCCUPATIONS,NUMBER_CERTIFIED_APPLICATIONS,PERCENTAGE
882,17-2051,1,0.000176
883,"HEALTH DIAGNOSING AND TREATING PRACTITIONERS, ...",1,0.000176
884,LICENSED PRACTICAL AND LICENSED VOCATIONAL NURSES,1,0.000176
885,COMPUTER SYSTEMS ENGINEERS/ARCHITECTS (ENGINEERS),1,0.000176
886,"SOFTWARE DEVELOPERS, APPLICATIAONS",1,0.000176

In [77]:
dat.iloc[0].values

array([0, 'I-200-12240-490687', 'CERTIFIED-WITHDRAWN', '2012-08-27',
       '2015-10-16', 'H-1B', '2013-02-25', '2016-02-24',
       'UNIVERSITY OF MICHIGAN', 'PIERPONT COMMONS, INTERNATIONAL CENTER',
       'ANN ARBOR', 'MI', '48109', 'UNITED STATES OF AMERICA', nan,
       '7347634081', nan, ',', nan, nan, 'POSTDOCTORAL RESEARCH FELLOW',
       '10-1021.00', 'BIOCHEMISTS AND BIOPHYSICISTS', 611310.0, 1, nan,
       36067.0, 'Year', 'OES', 2012.0, nan, 41000.0, 0.0, 'Year', 'N',
       'N', 'ANN ARBOR', 'WASHTENAW', 'MI', '48109', '2012-08-31'],
      dtype=object)

In [78]:
dat[dat['SOC_NAME'] == '17-2051'].T

                                         533196
Unnamed: 0                               533196
CASE_NUMBER                  I-200-16063-540400
CASE_STATUS                           CERTIFIED
CASE_SUBMITTED                       2016-03-03
DECISION_DATE                        2016-03-09
VISA_CLASS                                 H-1B
EMPLOYMENT_START_DATE                2016-04-19
EMPLOYMENT_END_DATE                  2019-04-19
EMPLOYER_NAME                  HNTB CORPORATION
EMPLOYER_ADDRESS                 715 KIRK DRIVE
EMPLOYER_CITY                       KANSAS CITY
EMPLOYER_STATE                               MO
EMPLOYER_POSTAL_CODE                      64105
EMPLOYER_COUNTRY       UNITED STATES OF AMERICA
EMPLOYER_PROVINCE                           NaN
EMPLOYER_PHONE                       8165272575
EMPLOYER_PHONE_EXT                          NaN
AGENT_ATTORNEY_NAME                 GOEKE, GAIL
AGENT_ATTORNEY_CITY              N. KANSAS CITY
AGENT_ATTORNEY_STATE                         MO
JOB_TITLE                          ENGINEER III
SOC_CODE                                17-2051
SOC_NAME                                17-2051
NAIC_CODE                                541330
TOTAL_WORKERS                                 1
FULL_TIME_POSITION                          NaN
PREVAILING_WAGE                           85571
PW_UNIT_OF_PAY                             Year
PW_WAGE_SOURCE                            Other
PW_SOURCE_YEAR                             2015
PW_SOURCE_OTHER         OFLC ONLINE DATA CENTER
WAGE_RATE_OF_PAY_FROM                   99340.8
WAGE_RATE_OF_PAY_TO                           0
WAGE_UNIT_OF_PAY                           Year
H-1B_DEPENDENT                                N
WILLFUL_VIOLATOR                              N
WORKSITE_CITY                        PARSIPPANY
WORKSITE_COUNTY                          MORRIS
WORKSITE_STATE                               NJ
WORKSITE_POSTAL_CODE                      07054
ORIGINAL_CERT_DATE                          NaN

In [64]:
dat.CASE_STATUS.value_counts()

CERTIFIED              569646
CERTIFIED-WITHDRAWN     47092
WITHDRAWN               21894
DENIED                   9220
Name: CASE_STATUS, dtype: int64

In [68]:
dat['SOC_NAME'].value_counts()

SOFTWARE DEVELOPERS, APPLICATIONS                          121239
COMPUTER SYSTEMS ANALYSTS                                   98756
COMPUTER PROGRAMMERS                                        81822
COMPUTER OCCUPATIONS, ALL OTHER                             53880
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                       21852
COMPUTER SYSTEMS ANALYST                                    16835
MANAGEMENT ANALYSTS                                         15010
ACCOUNTANTS AND AUDITORS                                    11205
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS                 11152
MECHANICAL ENGINEERS                                         9616
FINANCIAL ANALYSTS                                           9605
DATABASE ADMINISTRATORS                                      8741
MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS           8093
OPERATIONS RESEARCH ANALYSTS                                 8009
ELECTRONICS ENGINEERS, EXCEPT COMPUTER                       6807
COMPUTER AND INFORMATION SYSTEMS MANAGERS                    6190
ELECTRICAL ENGINEERS                                         5987
PHYSICIANS AND SURGEONS, ALL OTHER                           5941
MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS                   4807
WEB DEVELOPERS                                               4784
STATISTICIANS                                                4161
SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS             3450
BIOCHEMISTS AND BIOPHYSICISTS                                3380
INDUSTRIAL ENGINEERS                                         3316
BIOLOGICAL SCIENTISTS, ALL OTHER                             3305
PHYSICAL THERAPISTS                                          3278
CIVIL ENGINEERS                                              3191
MARKETING MANAGERS                                           2885
ENGINEERS, ALL OTHER                                         2870
GRAPHIC DESIGNERS                                            2274
                                                            ...
ELECTROMECHANICAL ENGINEERING TECHNOLOGISTS                     1
CHEMICAL ENGINEER                                               1
CHEMIST                                                         1
COMPUTER PROGRAMMERS, R&AMP;D                                   1
MEETING, CONVENTION AND EVENT PLANNERS                          1
SOFTWARE DEVELOPERS                                             1
PETROLEUM ENGINEER                                              1
DENTIST                                                         1
LANDSCAPING AND GROUNDSKEEPING WORKERS                          1
GENERAL AND OPERATIONS MANAGERSE                                1
ENGINEERING TECHNICIANS,EXCEPT DRAFTERS, ALL OTHER              1
SYSTEMS ASSOCIATE                                               1
WATCH REPAIRERS                                                 1
SALES REPRESENTATIVES, WHOLESALE AND MANUFACT                   1
FITNESS AND WELLNESS COORDINATORS                               1
LOGISTICS MANAGER                                               1
SEPTIC TANK SERVICERS AND SEWER PIPE CLEANERS                   1
COMMUNICATIONS STUDIES TEACHERS, POSTSECONDARY                  1
ANTHROPOLOGY AND ARCHEOLOGY TEACHERS, POSTSECONDAR              1
BIOLOGICAL SCIENTIST, ALL OTHERS                                1
COMPUTER SYSTEMS ENGINEERS OR ARCHITECTS                        1
COMPUTER AND INFORMATON SYSTEMS MANAGERS                        1
BIOINFORMATICS TECHNICIANS                                      1
17-2051                                                         1
HEALTH DIAGNOSING AND TREATING PRACTITIONERS, ALL OTHER         1
LICENSED PRACTICAL AND LICENSED VOCATIONAL NURSES               1
VIDEO GAME DESIGNERS                                            1
COMPUTER SYSTEMS ENGINEERS/ARCHITECTS (ENGINEERS)               1
ELEMENTARY SCHOOL TEACHERS, EXCEPT SPECIAL ED.                  1
SOFTWARE DEVELOPERS, APPLICATIAONS                              1
Name: SOC_NAME, Length: 973, dtype: int64

In [91]:
df = pd.read_csv('h1b_input.csv', delimiter=';')

In [90]:
list(df.columns)

['Unnamed: 0',
 'CASE_NUMBER',
 'CASE_STATUS',
 'CASE_SUBMITTED',
 'DECISION_DATE',
 'VISA_CLASS',
 'EMPLOYMENT_START_DATE',
 'EMPLOYMENT_END_DATE',
 'EMPLOYER_NAME',
 'EMPLOYER_BUSINESS_DBA',
 'EMPLOYER_ADDRESS',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_PROVINCE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'AGENT_REPRESENTING_EMPLOYER',
 'AGENT_ATTORNEY_NAME',
 'AGENT_ATTORNEY_CITY',
 'AGENT_ATTORNEY_STATE',
 'JOB_TITLE',
 'SOC_CODE',
 'SOC_NAME',
 'NAICS_CODE',
 'TOTAL_WORKERS',
 'NEW_EMPLOYMENT',
 'CONTINUED_EMPLOYMENT',
 'CHANGE_PREVIOUS_EMPLOYMENT',
 'NEW_CONCURRENT_EMP',
 'CHANGE_EMPLOYER',
 'AMENDED_PETITION',
 'FULL_TIME_POSITION',
 'PREVAILING_WAGE',
 'PW_UNIT_OF_PAY',
 'PW_WAGE_LEVEL',
 'PW_SOURCE',
 'PW_SOURCE_YEAR',
 'PW_SOURCE_OTHER',
 'WAGE_RATE_OF_PAY_FROM',
 'WAGE_RATE_OF_PAY_TO',
 'WAGE_UNIT_OF_PAY',
 'H1B_DEPENDENT',
 'WILLFUL_VIOLATOR',
 'SUPPORT_H1B',
 'LABOR_CON_AGREE',
 'PUBLIC_DISCLOSURE_LOCATION',
 'WORKSITE_CITY',
 'WORKSITE_COUNTY',
 'WORKSITE_STATE',
 'WORKSITE_POSTAL_CODE',
 'ORIGINAL_CERT_DATE']

In [59]:
df_cols = list(df.columns)
np.random.shuffle(df_cols)

In [61]:
df[df_cols].to_csv('shuffled.csv', sep=';', encoding='ascii')

In [67]:
df.EMPLOYER_STATE

0    WA
1    NJ
2    TX
3    NJ
4    NJ
5    TX
6    MA
7    TX
8    NJ
9    FL
Name: EMPLOYER_STATE, dtype: object

In [74]:
df = pd.read_csv('../input/sample.csv', delimiter=';')
df = df[df.columns[1:]]
df_cols = list(df.columns)
np.random.shuffle(df_cols)
df[df_cols].to_csv('shuffled.csv', sep=';', encoding='ascii')

In [81]:
df[df_cols].SOC_NAME.value_counts()

CHIEF EXECUTIVES                 96
FINANCIAL MANAGERS                1
BIOCHEMISTS AND BIOPHYSICISTS     1
Name: SOC_NAME, dtype: int64

In [97]:
df[df.CASE_STATUS == 'CERTIFIED'].WORKSITE_STATE.value_counts()[:10]
# df[df.CASE_STATUS == 'CERTIFIED'].SOC_NAME.value_counts()[:10]

FL    2
CA    1
MD    1
GA    1
WA    1
AL    1
NJ    1
TX    1
DE    1
Name: WORKSITE_STATE, dtype: int64

In [99]:
df = pd.read_csv('../input/H1B_FY_2014.csv', delimiter=';')
list(df.columns)

['Unnamed: 0',
 'LCA_CASE_NUMBER',
 'STATUS',
 'LCA_CASE_SUBMIT',
 'DECISION_DATE',
 'VISA_CLASS',
 'LCA_CASE_EMPLOYMENT_START_DATE',
 'LCA_CASE_EMPLOYMENT_END_DATE',
 'LCA_CASE_EMPLOYER_NAME',
 'LCA_CASE_EMPLOYER_ADDRESS',
 'LCA_CASE_EMPLOYER_CITY',
 'LCA_CASE_EMPLOYER_STATE',
 'LCA_CASE_EMPLOYER_POSTAL_CODE',
 'LCA_CASE_SOC_CODE',
 'LCA_CASE_SOC_NAME',
 'LCA_CASE_JOB_TITLE',
 'LCA_CASE_WAGE_RATE_FROM',
 'LCA_CASE_WAGE_RATE_TO',
 'LCA_CASE_WAGE_RATE_UNIT',
 'FULL_TIME_POS',
 'TOTAL_WORKERS',
 'LCA_CASE_WORKLOC1_CITY',
 'LCA_CASE_WORKLOC1_STATE',
 'PW_1',
 'PW_UNIT_1',
 'PW_SOURCE_1',
 'OTHER_WAGE_SOURCE_1',
 'YR_SOURCE_PUB_1',
 'LCA_CASE_WORKLOC2_CITY',
 'LCA_CASE_WORKLOC2_STATE',
 'PW_2',
 'PW_UNIT_2',
 'PW_SOURCE_2',
 'OTHER_WAGE_SOURCE_2',
 'YR_SOURCE_PUB_2',
 'LCA_CASE_NAICS_CODE']

In [ ]:
WORKSITE_STATE, LCA_CASE_WORKLOC2_STATE

In [109]:
col = 'LCA_CASE_WORKLOC2_STATE'

if 'worksite' in split_col:
                    if 'state' in split_col:

True

In [127]:
for x in ['LCA_CASE_WORKLOC1_STATE', 'WORKSITE_STATE']:
    print( [col.lower() for col in x.split('_')])

# if 'soc' in split_col:
#                     if 'name' in split_col:

['lca', 'case', 'workloc1', 'state']
['worksite', 'state']

In [108]:
desired_col = 'WORK_STATE'

for col in desired_col.split('_'):
    print(col.lower())

# all(col.lower() in split_col for col in desired_col.split('_'))

work
state

In [132]:
# 'work' and 'run' in 'LCA_CASE_WORKLOC2_STATE'.lower()
desired_name = 'LCA_CASE_WORKLOC2_STATE'
('worksite' or 'workloc2') and 'state' in 'LCA_CASE_WORKLOC1_STATE'.lower()
# all(col.lower() in split_col for col in desired_name)

True

In [128]:
df[df.STATUS == 'CERTIFIED']['LCA_CASE_WORKLOC1_STATE'].value_counts()[:10]

CA    85164
TX    45091
NY    42169
NJ    33243
IL    24414
PA    17167
MA    17112
GA    16080
WA    15581
FL    15563
Name: LCA_CASE_WORKLOC1_STATE, dtype: int64

In [ ]:
;CASE_NUMBER;CASE_STATUS;CASE_SUBMITTED;DECISION_DATE;VISA_CLASS;EMPLOYMENT_START_DATE;EMPLOYMENT_END_DATE;EMPLOYER_NAME;EMPLOYER_BUSINESS_DBA;EMPLOYER_ADDRESS;EMPLOYER_CITY;EMPLOYER_STATE;EMPLOYER_POSTAL_CODE;EMPLOYER_COUNTRY;EMPLOYER_PROVINCE;EMPLOYER_PHONE;EMPLOYER_PHONE_EXT;AGENT_REPRESENTING_EMPLOYER;AGENT_ATTORNEY_NAME;AGENT_ATTORNEY_CITY;AGENT_ATTORNEY_STATE;JOB_TITLE;SOC_CODE;SOC_NAME;NAICS_CODE;TOTAL_WORKERS;NEW_EMPLOYMENT;CONTINUED_EMPLOYMENT;CHANGE_PREVIOUS_EMPLOYMENT;NEW_CONCURRENT_EMP;CHANGE_EMPLOYER;AMENDED_PETITION;FULL_TIME_POSITION;PREVAILING_WAGE;PW_UNIT_OF_PAY;PW_WAGE_LEVEL;PW_SOURCE;PW_SOURCE_YEAR;PW_SOURCE_OTHER;WAGE_RATE_OF_PAY_FROM;WAGE_RATE_OF_PAY_TO;WAGE_UNIT_OF_PAY;H1B_DEPENDENT;WILLFUL_VIOLATOR;SUPPORT_H1B;LABOR_CON_AGREE;PUBLIC_DISCLOSURE_LOCATION;WORKSITE_CITY;WORKSITE_COUNTY;WORKSITE_STATE;WORKSITE_POSTAL_CODE;ORIGINAL_CERT_DATE
0;I-200-18026-338377;CERTIFIED;2018-01-29;2018-02-02;H-1B;2018-07-28;2021-07-27;MICROSOFT CORPORATION;;1 MICROSOFT WAY;REDMOND;WA;98052;UNITED STATES OF AMERICA;;4258828080;;N;",";;;SOFTWARE ENGINEER;15-1132;"SOFTWARE DEVELOPERS, APPLICATIONS";51121.0;1;0;1;0;0;0;0;Y;112549.0;Year;Level II;OES;2017.0;OFLC ONLINE DATA CENTER;143915.0;0.0;Year;N;N;;;;REDMOND;KING;WA;98052;
1;I-200-17296-353451;CERTIFIED;2017-10-23;2017-10-27;H-1B;2017-11-06;2020-11-06;ERNST & YOUNG U.S. LLP;;200 PLAZA DRIVE;SECAUCUS;NJ;07094;UNITED STATES OF AMERICA;;2018723003;;Y;"BRADSHAW, MELANIE";TORONTO;;TAX SENIOR;13-2011;ACCOUNTANTS AND AUDITORS;541211.0;1;0;0;0;0;1;0;Y;79976.0;Year;Level II;OES;2017.0;OFLC ONLINE DATA CENTER;100000.0;0.0;Year;N;N;;;;SANTA CLARA;SAN JOSE;CA;95110;
2;I-200-18242-524477;CERTIFIED;2018-08-30;2018-09-06;H-1B;2018-09-10;2021-09-09;LOGIXHUB LLC;;320 DECKER DRIVE;IRVING;TX;75062;UNITED STATES OF AMERICA;;2145419305;;N;",";;;DATABASE ADMINISTRATOR;15-1141;DATABASE ADMINISTRATORS;541511.0;1;0;0;0;0;1;0;Y;77792.0;Year;Level II;OES;2018.0;OFLC ONLINE DATA CENTER;78240.0;0.0;Year;N;N;;;;IRVING;DALLAS;TX;75062;
3;I-200-18070-575236;CERTIFIED;;2018-03-30;H-1B;2018-09-10;2021-09-09;"HEXAWARE TECHNOLOGIES, INC.";;101 WOOD AVENUE SOUTH;ISELIN;NJ;08830;UNITED STATES OF AMERICA;;6094096950;;Y;"DUTOT, CHRISTOPHER";TROY;MI;SOFTWARE ENGINEER;15-1132;"SOFTWARE DEVELOPERS, APPLICATIONS";541511.0;5;5;0;0;0;0;0;Y;84406.0;Year;Level II;OES;2017.0;OFLC ONLINE DATA CENTER;84406.0;85000.0;Year;Y;N;Y;;;NEW CASTLE;NEW CASTLE;DE;19720;
4;I-200-18243-850522;CERTIFIED;2018-08-31;2018-09-07;H-1B;2018-09-07;2021-09-06;"ECLOUD LABS,INC.";;120 S WOOD AVENUE;ISELIN;NJ;08830;UNITED STATES OF AMERICA;;7327501323;;Y;"ALLEN, THOMAS";EDISON;NJ;MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER;15-1132;"SOFTWARE DEVELOPERS, APPLICATIONS";541511.0;1;0;0;0;0;0;1;Y;87714.0;Year;Level III;OES;2018.0;OFLC ONLINE DATA CENTER;95000.0;0.0;Year;Y;N;Y;Y;;BIRMINGHAM;SHELBY;AL;35244;
5;I-200-18142-939501;CERTIFIED;2018-05-22;2018-05-29;H-1B;2018-05-29;2021-05-28;OBERON IT;;1404 W WALNUT HILL LN;IRVING;TX;75038;UNITED STATES OF AMERICA;;8666609190;;Y;"GARRITSON, JAMES";RICHARDSON;TX;SENIOR SYSTEM ARCHITECT;15-1132;"SOFTWARE DEVELOPERS, APPLICATIONS";541511.0;1;0;0;0;0;0;1;Y;71864.0;Year;Level II;Other;2017.0;OFLC ONLINE DATA CENTER;74000.0;0.0;Year;Y;N;Y;;;SUNRISE;BROWARD;FL;33323;
6;I-200-18121-552858;CERTIFIED;2018-05-01;2018-05-07;H-1B;2018-05-02;2018-10-26;ICONSOFT INC.;;101 CAMBRIDGE STREET SUITE 360;BURLINGTON;MA;01803;UNITED STATES OF AMERICA;;8882054614;1;N;",";;;SENIOR ORACLE ADF DEVELOPER;15-1132;"SOFTWARE DEVELOPERS, APPLICATIONS";541511.0;1;0;1;0;0;0;0;Y;92331.0;Year;Level III;Other;2017.0;OFLC ONLINE DATA CENTER;114000.0;0.0;Year;Y;N;Y;;;JACKSONVILLE;DUVAL COUNTY;FL;32202;
7;I-200-18215-849606;CERTIFIED;2018-08-03;2018-08-09;H-1B;2018-08-11;2021-08-11;COGNIZANT TECHNOLOGY SOLUTIONS US CORP;;211 QUALITY CIRCLE;COLLEGE STATION;TX;77845;UNITED STATES OF AMERICA;;2019661249;;N;",";;;SENIOR SYSTEMS ANALYST JC60;15-1121;COMPUTER SYSTEMS ANALYST;541512.0;1;0;1;0;0;0;0;Y;80579.0;Year;Level II;OES;2018.0;OFLC ONLINE DATA CENTER;80579.0;0.0;Year;Y;N;Y;;;OWINGS MILLS;BALTIMORE;MD;21117;
8;I-201-17339-472823;CERTIFIED;2017-12-08;2017-12-14;H-1B1 Chile;2017-12-08;2019-06-07;ISHI SYSTEMS INC;;185 HUDSON STREET;JERSEY CITY;NJ;07311;UNITED STATES OF AMERICA;;2013326900;;N;",";;;ASSOCIATE PRODUCT MANAGER(15-1199.09);15-1199;"COMPUTER OCCUPATIONS, ALL OTHER";541511.0;1;0;1;0;0;0;0;Y;88317.0;Year;Level III;OES;2017.0;OFLC ONLINE DATA CENTER;90000.0;0.0;Year;;;;;;JERSEY CITY;HUDSON;NJ;07311;
9;I-200-18233-239931;CERTIFIED;2018-08-21;2018-08-27;H-1B;2018-09-05;2021-09-04;"WB SOLUTIONS, LLC";;7320 E FLETCHER AVE;TAMPA;FL;33637;UNITED STATES OF AMERICA;;8133300099;;Y;"KIDAMBI, VAMAN";TRUMBULL;CT;SENIOR JAVA DEVELOPER;15-1132;"SOFTWARE DEVELOPERS, APPLICATIONS";541511.0;1;0;0;0;0;1;0;Y;104790.0;Year;Level III;OES;2018.0;OFLC ONLINE DATA CENTER;105000.0;0.0;Year;Y;N;Y;Y;;ALPHARETTA;FULTON;GA;30005;